.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-image: url('https://images.unsplash.com/photo-1497616987741-7fba8102046e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-size: cover;
}

.App-link {
  color: #09d3ac;
}
.table {
  width: 345px;
  height: 345px;
  border: 3px solid white;
  box-sizing: border-box;
  background-color: #ABB2B9;
}



